<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Dashboard</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <h1 class="display-1 text-center">ASMR CURATED</h1>

    <div class="row">
      <% videos.forEach(video => { %>
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <a class="display-6" href="/videos/<%=video._id; %>">
              <%= video.title; %>
            </a>
          </div>
          <div class="card-body">
            <iframe
              width="560"
              height="315"
              src="<%= video.url %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          }

          <div class="card-footer">
            tags: <%= video.tags.join(" ")%>
            <i class="bi-hand-thumbs-up upvote" id="<%= video._id%>-up"></i>
            <!-- <button class="upvote" id="<%= video._id%>-up">Upvote</button> -->
            <button class="downvote" id="<%= video._id%>-down">Downvote</button>

            <div class="votes" id="<%= video._id%>-votes">
              votes: <%= video.votes %>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>

<script>
  function toggleUpVote(videoId) {
    let element = document.getElementById(`${videoId}-up`);
    debugger;
    element.classList.toggle("bi-hand-thumbs-up-fill");
    element.classList.toggle("bi-hand-thumbs-up");
  }

  $(".upvote").on("click", function (e) {
    const videoId = e.currentTarget.id.split("-")[0];

    e.stopPropagation();
    e.stopImmediatePropagation();
    e.preventDefault();
    $.ajax({
      url: `/videos/${videoId}/upvote`,
      type: "PUT",
      success: function (data) {
        toggleUpVote(videoId);
        $(`#${videoId}-up`).html("YOU UPVOTED");
        $(`#${videoId}-votes`).html(data.votes);
        console.log("data.votes: " + data.votes);
        //update votes with updateVideo.votes?
      },
      error: function () {
        $("div").html("Sorry, an error occurred");
      },
    });
  });

  $(".downvote").on("click", function (e) {
    const videoId = e.currentTarget.id.split("-")[0];
    e.stopPropagation();
    e.stopImmediatePropagation();
    e.preventDefault();
    $.ajax({
      url: `/videos/${videoId}/downvote`,
      type: "PUT",
      success: function (data) {
        $(`#${videoId}-down`).html("YOU DOWNVOTED");
        $(`#${videoId}-votes`).html(data.votes);
        console.log("data.votes: " + data.votes);
        //update votes with updateVideo.votes?
      },
      error: function () {
        $("div").html("Sorry, an error occurred");
      },
    });
  });
</script>
