<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Dashboard</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="row">
      <% videos.forEach(video => { %>
      <div class="col-md-6 mb-4 mt-5">
        <div class="card text-center align-items-center border-0">
          <iframe
            width="560"
            height="315"
            src="<%= video.url %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="card-body">
            <a href="<%= video.url %>" class="btn btn-primary"
              ><%= video.title %></a
            >
            <h6 class="card-title">Tags</h6>
            <p class="card-text"><%= video.tags.join(" ")%></p>
            <div>
              <i class="bi-hand-thumbs-up upvote" id="<%= video._id%>-up"></i>
              <i
                class="bi-hand-thumbs-down downvote"
                id="<%= video._id%>-down"
              ></i>
            </div>

            <div class="votes" id="<%= video._id%>-votes">
              votes: <%= video.votes %>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>

<script>
  function toggleVoteFill(videoId, direction) {
    let element = document.getElementById(`${videoId}-${direction}`);

    element.classList.toggle(`bi-hand-thumbs-${direction}-fill`);
    element.classList.toggle(`bi-hand-thumbs-${direction}`);
  }
  // function toggleUpVote(videoId) {
  //   let element = document.getElementById(`${videoId}-up`);

  //   element.classList.toggle("bi-hand-thumbs-up-fill");
  //   element.classList.toggle("bi-hand-thumbs-up");
  // }

  // function toggleDownVote(videoId) {
  //   let element = document.getElementById(`${videoId}-down`);

  //   element.classList.toggle("bi-hand-thumbs-down-fill");
  //   element.classList.toggle("bi-hand-thumbs-down");
  // }

  $(".upvote").on("click", function (e) {
    const videoId = e.currentTarget.id.split("-")[0];

    // Turn off click events on upvote button
    $(e.currentTarget).off("click");

    // Hide downvote button since they've voted already
    $(e.currentTarget).siblings(".downvote").hide();

    e.stopPropagation();
    e.stopImmediatePropagation();
    e.preventDefault();
    $.ajax({
      url: `/videos/${videoId}/upvote`,
      type: "PUT",
      success: function (data) {
        toggleVoteFill(videoId, "up");
        $(`#${videoId}-votes`).html(`votes: ${data.votes}`);
      },
      error: function () {
        $("div").html("Sorry, an error occurred");
      },
    });
  });

  $(".downvote").on("click", function (e) {
    // if (!clicked) {
    const videoId = e.currentTarget.id.split("-")[0];

    // Turn off click events on downvote button
    $(e.currentTarget).off("click");

    // Hide upvote button since they've voted already
    $(e.currentTarget).siblings(".upvote").hide();

    e.stopPropagation();
    e.stopImmediatePropagation();
    e.preventDefault();
    $.ajax({
      url: `/videos/${videoId}/downvote`,
      type: "PUT",
      success: function (data) {
        toggleVoteFill(videoId, "down");
        // clicked = true;
        // $(`#${videoId}-down`).html("YOU DOWNVOTED");
        $(`#${videoId}-votes`).html(`votes: ${data.votes}`);

        //update votes with updateVideo.votes?
      },
      error: function () {
        $("div").html("Sorry, an error occurred");
      },
    });
    // }
  });
</script>
