<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Index</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <!-- Add filter -->
          <form id="form1" class="" action="/videos/filter" method="GET">
            <input class="" type="text" id="filter" name="filter" value="<%= searchQuery %>" placeholder="Search By Tag" />
            <button type="submit" form="form1" value="Submit" class="btn" id="search">
              <i class="bi-search"></i>
            </button>
        </div>
      </div>
    </div>

    <div class="row">
      <% videos.forEach(video => { %>
      <div class="col-xl-6 mb-4 mt-5">
        <div class="card text-center align-items-center border-0">
          <!-- <div class="card-body">
            <div class="card-title text-center">
              <a class="display-6" href="/videos/<%=video._id; %>">
                <%= video.title; %>
              </a>
            </div> -->
          <iframe
            width="560"
            height="315"
            src="<%= video.url %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="card-body">
            <a href="/videos/<%=video._id; %>" class="btn video-title-btn"
              ><%= video.title %></a
            >
            <h6 class="card-title mt-4">Tags</h6>
            <p class="card-text"><%= video.tags.join(" ")%></p>

            <h6 class="card-title mt-4">Votes</h6>
            <div class="votes" id="<%= video._id%>-votes">
              <%= video.votes %>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>

<script>
  $(".form1").submit(function (e) {
    alert("Handler for .submit() called.");
    e.preventDefault();
  });
</script>
