<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>Index</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <h1 class="display-1 text-center">ASMR CURATED</h1>

    <div class="row">
      <% videos.forEach(video => { %>
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <a class="display-6" href="/videos/<%=video._id; %>">
              <%= video.title; %>
            </a>
          </div>
          <div class="card-body">
            <iframe
              width="560"
              height="315"
              src="<%= video.url %>"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="card-footer">tags: <%= video.tags.join(" ")%></div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
