<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <h1>Home</h1>

    <% videos.forEach(video => { %>

    <div>
      <a href="/videos/<%=video._id; %>"> <%= video.title; %> </a>

      <iframe
        width="560"
        height="315"
        src="<%= video.url %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      tags: <%= video.tags.join(" ") %> <% const votes = video.upvotes -
      video.downvotes %> votes: <%= votes %>
    </div>
    <% }) %>
  </body>
</html>
